*.egg
*.egg-info/
*.mo
*.pyc
*.pyo
*.swp
*~
.direnv/
.Python
.coverage
.idea
.installed.cfg
.mr.developer.cfg
bin
build
develop-eggs
dist
downloads
eggs
htmlcov/
include/
lib/
lib64
local.cfg
parts
pip-selfcheck.json
pyvenv.cfg
var
